* {
  margin: 0;
  padding: 0;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  width: 208mm;
  //height: 295mm;
}

page[size="A4"] {  
  width: 208mm;
  //height: 295mm;
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
    width: 208mm;
    //height: 295mm;
  }
}

body {
  background-color: #505050;
}

page {
  background: #ffffff;
  color: #000000;
  
  #palmeira {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    
    .soft-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 12pt;
    }
    
    .corpo, a, a:visited, a:hover {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 12pt;
    }
    
    a, a:visited, a:hover {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-style: oblique;
      color: #000000;
      text-decoration: none;
    }
    
    /**************************/
    div.secao {
      h2 {
        display: inline-block;
        padding: 0 6px;        
        margin-top: 25px;
        margin-bottom: 10px;
        background-color: #333333;
        color: #ffffff;
        font-family: 'Roboto Slab', serif;
        font-size: 16pt;
        font-weight: 400;
      }
      
      .cell {
        margin-bottom: 10px;
      }
    }
    
    #cabecalho {
      padding: 12.7mm;
      background-color: #333333;
      border-top: solid 3px #ffffff;
    
      p.nome {
        font-family: 'Roboto Slab', serif;
        font-size: 28pt;
        font-weight: 500;
        margin-bottom: 10px;
        color: #ffffff;
      }
      
      .site, .site:visited, .site:hover,
      a, a:visited, a:hover,
      .endereco,
      .telefone,
      .email {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        display: block;
        line-height: 16pt;
        margin-top: 3px;
        color: #ffffff;
      }
    }

    div.secao {
      padding: 0 12.7mm;
      &:last-child {
        padding-bottom: 12.7mm;
      }

      .duracao {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
      }
    }
  }
}